<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<form action = "/search/index" method = "get">
    <div class = "box">
        <div class = "container-4">
            <input type = "search" id = "search" name = "keyword" placeholder = "Search..."></input>
            <button class="icon"><i class="fa fa-search"></i></button>
        </div>
    </div>
</form>

<div class = "catbread">
    <%= image_tag 'catbread.jpg' %>
</div>

