점주 회원가입!

<form action = "/owners" methot = "post" onsubmit = "return isCorrect()">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <p>점주 이름</p>
  <input type = "string" name = "owner_name"></input>
  <p>메일 어드레스</p>
  <input type = "string" name = "owner_email"></input>
  <p>비밀번호</p>
  <input type = "password" name = "owner_password" id = "ps1"></input>
  <p>비밀번호 확인></p>
  <input type = "password" name = "owner_password" id = "ps2"></input>
  <input type="submit" value="다음 페이지">
</form>

<script>
  function isCorrect(){
    var pass1 = document.getElementById("ps1").value;
    var pass2 = document.getElementById("ps2").value;

    if (pass1 == pass2){
      return true;
    }
    else{
      alert("비밀번호가 일치하지 않습니다.");
      return false;
    }
  }
</script>