// Place all the styles related to the detail_item controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.detail-item-wrap {
  padding: 20px 0px 50px 50px;
}

.bread_img img{
    max-width: 100%;
    width:500px;
}