.detail-item-wrap{
    padding: 0 2%;
}

.bread-img img{
    width: 46%;
    padding: 1%;
    float: left;
    margin-left: 2%;
}

.detail-item-wrap .info-detail{
    width: 38%;
    padding: 3% 5%;
    float: left;
    color: #777;
    margin-right: 2%
}
.detail-item-wrap .info-detail ul{
    // list-style: none;
    margin: 0px;
}

.detail-item-wrap .write-reviews{
    width: 96%;
    padding: 2%;
    float: left;
    color: #777;
}
.detail-item-wrap .bread-info-wrap{
    width: 100%;
}



.info-detail li{
    list-style: none;
    padding: 1.5% 0;
    width: 100%
}
.info-detail li span{
    color: #000;
    font-size: 18px;
} 
.info-detail li .star{
    color: red;
    font-size: 20px;
} 
.info-detail .b-bread-name{
    width: 100%;
    font-size: 1.6rem;
    color: #000;
    padding-bottom: 3%;
}

.info-detail .b-bread-name .b-bakery-name {
    color: #777;
}

.info-detail .reservation{
    width: 100%;
    margin: 3% 0;
    // background-color: #e36a00;
    border-radius: 10px;
}
.info-detail a .reservation {
    display: inline-block;
    padding: 3.2%;
    background-color: #ffffff;
    color: #000000;
    border-radius: .5rem;
    transition: all 0.3s;
    border: 1px solid #ddd;
    margin-top: 5%;
}

.info-detail span .reservation {
    display: inline-block;
    padding: 3.2%;
    background-color: #ffffff;
    color: #000000;
    border-radius: .5rem;
    transition: all 0.3s;
    border: 1px solid #ddd;
    margin-top: 5%;
}

.info-detail a {
    font-size: 1.2rem;
    text-decoration: none;
}




// write-reviews

.write-reviews li{
    list-style: none;
    padding: 1.5% 0;
    width: 100%;
}

.write-reviews .detail #map {
    width: 100%;
    margin-left: 2%;
}
.write-reviews form label {
    color: #000;
    font-size: 1em;
}

.write-reviews .detail input, textarea {
	display: block;
	border: 1px solid #ddd;
	border-radius: .5rem;
	padding: .5rem;
	color: #666;
	font-size: 1rem;
	margin-bottom: .3125rem;
	min-width: 95%;
    min-height: 5rem;
    margin: 1% ;
	&:focus {
		outline: none;
		border-color: #666;
		box-shadow: 0 0 0 .25rem #eee;
	}
}

// 별점


// 이미지 input file
.hide {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
    z-index: -1;
    margin: 1%;
}

label[for="upload"] {
	display: inline-block;
	cursor:pointer;
	padding: 10px 30px;
	background-color: #ffffff;
	color:#ffffff;
	border-radius: .5rem;
    transition: all 0.3s;
    border: 1px solid #ddd;
    margin: 0;
}

// submit button

label[for="submit"] {
	display: inline-block;
	cursor:pointer;
	padding: 10px 30px;
	background-color: #ffffff;
	color:#ffffff;
	border-radius: .5rem;
    transition: all 0.3s;
    border: 1px solid #ddd;
    margin: 0;
}
.file-star-submit-wrap{
    float: left;
    min-width: 98%;
    margin: 1%;
    display: flex;
}

.file-img{
    float: left;
    text-align: left;
    margin: 0;
    width: 20%;
}
.star-point{
    float: left;
    text-align: left;
    margin: 0;
    width: 30%;
}
.submit-button{
    float: right;
    width: 50%;
    text-align: right;
    margin-right: 1.5%;
}
.reviews .review-btns{
    text-align: right;
    width: 99%;
}
.reviews .review-btns a .review-btn {
    display: inline-block;
    padding: 5px 30px;
    background-color: #ffffff;
    color: #000000;
    border-radius: .5rem;
    transition: all 0.3s;
    border: 1px solid #ddd;
    margin: 0 1% 0 0 ;
}

.reviews li .review-person{
    color: #000;
    font-size: 1em;
}

.reviews .review-content-li {
    border: 1px solid #ddd;
    border-radius: .5rem;
    width: 96.8%;
    margin: 1%;
}

.reviews .review-content-li .review-content-span{
    color: #000;
    font-size: 1.1em;
    margin: 1%;
}


.reviews a {
    font-size: 1em;
    text-decoration: none;
}

@media screen and (max-width: 979px){
    .bread-img {
        width: 92%;
        padding: 2%;
        max-width: 550px;
        margin: 0px auto !important;
        float: none;
    }
    .bread-img img{
        width: 92%;
        padding: 2%;
    }

    .detail-item-wrap .info-detail{
        width: 56%;
        padding: 2% 22%;
    }

    #map {
        width: 92%;
        height: 92%;
        padding: 2%;
        max-width: 550px;
        margin: 0px auto !important;
        float: none;
    }
}

