.detail-item-wrap{
    padding: 0px 0px 0px 50px;
}


.bread_img img{
    width: 42%;
    padding: 2%;
    float: left;
}

.detail-item-wrap .info-detail{
    width: 42%;
    padding: 2%;
    float: left;
    color: #777;
}
.detail-item-wrap .info-detail ul{
    // list-style: none;
    margin: 0px;
}

.detail-item-wrap .reviews{
    width: 100%;
    padding: 2%;
    float: left;
    color: #777;
}

.info-detail li{
    list-style: none;
    padding: 1.5% 0;
    width: 100%
}

.info-detail .bread-name{
    font-size: 22px;
    color: #000;
}

.info-detail .reservation{
    width: 100%;
    margin: 3% 0;
}



@media screen and (max-width: 979px){
    .bread_img {
        width: 100%;
        padding: 2%;
        max-width: 500px;
        margin: 0px auto !important;
        float: none;
    }
}