.item-list-wrap{
  padding: 0px 0px 0px 50px;
}
.item-list-wrap .item-list-title{
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 4%;
}
.item-list-wrap .iten-list-title .form{
  margin: 2%;
}

.item-list-wrap a .bakery-btn,
.item-list-wrap a .bread-btn {
    display: inline-block;
    padding: 3.2%;
    background-color: #ffffff;
    color: #000000;
    border-radius: .5rem;
    transition: all 0.3s;
    border: 1px solid #ddd;
    margin: 5%;
    width: 90%;
    font-size: 1.5rem;
}
.item-list-wrap a .bakery-btn:hover,
.item-list-wrap a .bread-btn:hover {
    background-color: rgb(244, 244, 244);

}

.item-list .bread-item .item .collapsible ul li .bread-name,
.item-list .bread-item .item .collapsible ul li .bread-price{
  font-size: 1.1rem;
  color: #000;
}
.item-list .bread-item .item .collapsible ul li .bread-cat {
  font-size: 0.9rem;
  color: #777;
}


.item {
    text-align: center;
}
  
// .collapsible:after {
//     color: black;
//     font-weight: bold;
//     float: right;
//     margin-left: 5px;
// }

.collapsible .content {
    color: black;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
 
.collapsible img {
    max-width: 400px;
    min-height:50px;
}

.content {
    padding: 0px 30px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #fff;
}
  
.content p {
    padding: 13px;
}

.content {
  padding: 0px 30px;
  max-height: 300px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #fff;
}

.content ul li {
  padding: 13px;
}

.content ul li .con{
  font-size: 1.1rem;
  color: #000;
}
.content ul li .con-num{
  font-size: 1.1rem;
  color: red;
}




@media (max-width: 1024px) {
  .bread-item {
    float: left;
    width: 100%;
    position: inherit;
    display: flex;
    align-items: center;
    vertical-align: middle;
  }
  .search-bread-list > section > div > button > ul > li > img{
    // height: 350px;
    // width: 400px;
    height: 200px;
    width: 100%;
    margin: 0 5%;
    overflow: auto;
    object-fit: cover;
  }
  .search-bread-list{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
}




/* 만약 브라우저의 크기가 768px 이상이라면 */
@media (min-width: 1024px) {
  .item-list .bread-item {
    float: left;
    width: 32.333333%;
    position: inherit;
    display: flex;
    align-items: center;
    vertical-align: middle;
    padding: 0 0.25%;
  }
  .item-list > section > div > button > ul > li > img{
    height: 200px;
    width: 100%;
    margin: 0 5%;
    overflow: auto;
    object-fit: cover;
  }
  .item-list{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
}

// text-align : center

.item-list ul{
  width: 100%;
  list-style: none;
  margin: auto;
  padding: 0px;
  display: block;
  float: left;
  overflow: hidden;
}
.item-list ul li{
  list-style: none;
  margin: auto;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 2px 0px;
  display: contents;
}


/* 만약 브라우저의 크기가 1366px 이상이라면 */
@media (min-width: 1366px) {
  .item-list .bread-item {
    // width: 23.333333%;
    width: 19.333333%;
    // padding: 0 0.5%;
    padding: 0 0.25%;
    margin-left: auto;
    margin-right: auto;
  }
   .item-list > section > div > button > ul > li > img{
    // height: 60%;
    // width: 100%;
    height: 200px;
    width: 100%;
    margin: 0 5%;
    overflow: auto;
    object-fit: cover;
  }
  .item-list{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
}


