.main-wrap{
  padding: 0px 0px 0px 50px;
}
.main-text{
  text-align: center;
  font-size: 1.4rem;
  padding: 0 0 30px 0;
}

// 메인 사진
.post-container {
    overflow: hidden;
    margin: 0px auto;
}


.hash-tags{
    display: inline-block;
    padding: 5%;
    background-color: #ffffff;
    color: #000000;
    border-radius: .9rem;
    transition: all 0.3s;
    border: 1px solid #ddd;
    margin: 5%;
}


.recom-bread-list ul{
  width: 100%;
  list-style: none;
  margin: auto;
  padding: 0px;
  display: block;
  float: left;
  overflow: hidden;
}
.recom-bread-list ul li{
  list-style: none;
  margin: auto;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 2px 0px;
  display: contents;
}
.recom-bread-list .bread-item .item a .collapsible ul li .bread-name {
  font-size: 1.1rem;
  color: #000;
  cursor: pointer;
}
.recom-bread-list .bread-item .item a .collapsible ul li{
  font-size: 0.9rem;
  color: #777;
}

.recom-bread-list .bread-item .item a .collapsible ul li .bakery-name {
  display: inline-block;
  padding: 2.5%;
  background-color: #ffffff;
  color: #000000;
  border-radius: .9rem;
  transition: all 0.3s;
  border: 1px solid #ddd;
  margin: 0.5%;
  cursor: pointer;
}

.main-wrap{
  padding: 20px 0px 50px 0px;
}
  
.catbread{
  text-align: center;  
  font-size: 1.5rem;
  padding: 20px;
}

// // faq 따온거
// .wrap{
//   margin: 60px 30px;
//   padding: 50px;
// }

// .qa-wrap{
//   width:80%;
//   margin:auto;
// 	max-width: 2000px;
// 	min-height:300px;
// 	position:relative;
// 	background-color: #fff;
// 	box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.24), 0 15px 18px 0 rgba(0, 0, 0, 0.19);
//   z-index: 1;
// }


// .collapsible:after {
//   color: black;
//   font-weight: bold;
//   float: right;
//   margin-left: 5px;
// }

////////////////////////////////바꾼거 여기//
// .collapsible img {
//   max-width: 400px;
//   min-height:50px;
// }
.bread-item .item a .collapsible ul li img{
  height: 200px;
  width: 100%;
  margin: 0;
  overflow: auto;
  object-fit: cover;
  cursor: pointer;
}
//////////////////////////////////


// .collapsible li{
//   float: left;
//   display: contents;
// }




///////////////////////////////바뀐거 여기
.content {
  padding: 0px 30px;
  // max-height: 300px;
  overflow: hidden;
  // transition: max-height 0.2s ease-out;
  background-color: #fff;
}

.content ul li {
  padding: 13px;
}

.content ul li .con{
  font-size: 1.1rem;
  color: #000;
}
.content ul li .con-num{
  font-size: 1.1rem;
  color: #C05914;
}

.content ul a .bakery-btn {
  display: inline-block;
  padding: 3.2%;
  background-color: #ffffff;
  color: #000000;
  border-radius: .5rem;
  transition: all 0.3s;
  border: 1px solid #ddd;
  margin: 5%;
  width: 90%;
  font-size: 1rem;
}

.qa .item{
  text-align: collapsible;
  justify-content: center;
}



.font-list {
  justify-content: center;
  text-align: center;
}


.recom-bread-list{  
  margin: 2rem auto;
  position: inherit;
  display: table;
  align-items: center;
  vertical-align: middle;
  width: 100%;
}





.bread-item { /* 각 아이템의 기본 폰트사이즈를 사전에 정해둔다. */
  font-size: 1em; /* 16px */
  line-height: 1.2em; /* 19.2px */
  padding: 10px 0;
  // border-top: 1px solid #000;
  position: relative;
  justify-content: center;
  display: flex;
  margin: 20px 0px;
}

.btn-add {
  position: absolute; 
  /* 절대 좌표 이동, 좌표의 기준점 */
  top: 10px;
  right: 10px;
}
.catbread-1 {
    display: flex;
    justify-content: center;
    margin: 2%;
}
.catbread-1 form {
    width: 15%;
    text-align: center;
}
/*
* 해상도 따라서 아이템이 2개였따가 3개였다가 4개였다기
* 미디어쿼리
*/

@media (max-width: 1024px) {
  .bread-item {
    float: left;
    width: 100%;
    position: inherit;
    display: flex;
    align-items: center;
    vertical-align: middle;
  }
  .recom-bread-list > section > div > button > ul > li > img{
    // height: 350px;
    // width: 400px;
    height: 100%;
    width: 100%;
  }
  .recom-bread-list{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
}




/* 만약 브라우저의 크기가 768px 이상이라면 */
@media (min-width: 1024px) {
  .recom-bread-list .bread-item {
    float: left;
    width: 32.333333%;
    position: inherit;
    display: flex;
    align-items: center;
    vertical-align: middle;
    padding: 0 0.25%;

  }
  .recom-bread-list > section > div > button > ul > li > img{
    // height: 350px;
    // width: 400px;
    // height: 60%;
    // width: 100%;
    height: 250px;
    width: 100%;
    margin: 0 5%;
    overflow: auto;
    object-fit: cover;

  }
  .recom-bread-list{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
}


/* 만약 브라우저의 크기가 1024px 이상이라면 */
// @media (min-width: 1024px) {
//   .bread-item {
//     width: 26.333333%;
//     position: inherit;
//     display: flex;
//     align-items: center;
//     vertical-align: middle;
//   }
//   .recom-bread-list{
//     // justify-content: center;
//     // padding: 0 2%;
    
//     // position: relative;
//     // margin: 0px auto;
//     // top: 0px;
//     // left: 0px;
//     // width: 1310px;
//     // height: 306px;
//     // overflow: hidden;
//     // visibility: visible;
//     width: 95%;
//     margin-left: auto;
//     margin-right: auto;
//   }
// }



/* 만약 브라우저의 크기가 1366px 이상이라면 */
@media (min-width: 1366px) {
  .recom-bread-list .bread-item {
    width: 16%;
    // padding: 0 0.5%;
    padding: 0 0.25%;
    margin-left: auto;
    margin-right: auto;
    // object-fit: cover;
  }
   .recom-bread-list > section > div > button > ul > li > img{
    // height: 350px;
    // width: 400px;
    height: 300px;
    width: 100%;

    // height: 225px;
    // width: 220px;
    margin: 0 5%;
    overflow: auto;
    object-fit: cover;
  }
  .recom-bread-list{
    // position: relative;
    // margin: 0px auto;
    // top: 0px;
    // left: 0px;
    // width: 1310px;
    // height: 306px;
    // overflow: hidden;
    // visibility: visible;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
}


//reset button 
button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    outline: none;
    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}
